html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
table {
    font-size:14px;
    margin-top:1.5em !important;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color:#797979;
    text-decoration: none;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}
th {
    color:#797979;
    background-color: #f1f1f1;
}
/* below are text-styles  */



small {
    font-size:.75em;
}
strong {
    font-weight:600;
}

pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    white-space: pre-wrap;
    padding-left: 1.5em;
    padding-bottom: .5em;
    padding-top: .5em;
    -webkit-text-stroke: 0px;
    font-family: 'Source Code Pro', sans-serif;
}

code {
}
/*paragraph*/
p {
    font-family: 'Lato', sans-serif;
    padding: .5em;
    -webkit-text-stroke: 0px;
}

em {
    padding-right: .25em;
}

ul, ol {
    font-family: 'Lato', sans-serif;
    padding-left: 2em;
    padding-bottom: 1em;
    padding-top: .5em;
    -webkit-text-stroke: 0px;
}

a {
    text-decoration: none;

}

blockquote {
    margin: 1em 1em;
    padding: .5em 1em;
    border-left: 5px solid #004A66;
}

blockquote p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: .5em;
    margin-bottom: .5em;
    font-weight: bolder;
}

h1 {
    font-size: 2em;
    color: #000;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .75em;
}

h1 a {
    color: #000;
    display: block;
}

h2 a:hover {
    color: #000;
}

h2 a:hover:after {
    color: #000;
}

a {
    color: #FF8400;
}

a:hover {
    color: #f42a00;
}

hr {
    margin: 2em auto;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background-color: #004A66;
}

/* margins */

.margin-1 {
    margin-top:.5em;
    margin-bottom: .5em;
}
.margin-3 {
    margin-top:1.5em;
    margin-bottom: 1.5em;
}
/* padding */
.padding-p50 {
    padding-bottom:.25em;
    padding-top: .25em;
}
.padding-p7 {
    padding-bottom:.35em;
    padding-top: .35em;
}
.padding-1 {
    padding-bottom:.5em;
    padding-top: .5em;
}
.padding-2 {
    padding-bottom:1em;
    padding-top:1em;
}
.padding-3 {
    padding-bottom:1.5em;
    padding-top: 1.5em;
}
.padding-4 {
    padding-bottom:2em;
    padding-top: 2em;
}
.padding-5 {
    padding-bottom:2.5em;
    padding-top: 2.5em;
}

/* circles! */

.circle-online {
    display: inline-block;
    background-color: #16eb00;
    width:14px;
    height:14px;
    border-radius: 7px;
}
.circle-offline {
    display: inline-block;
    background-color: #f42a00;
    width:14px;
    height:14px;
    border-radius: 7px;
}
.circle-200 {
    line-height:200px;
    text-align:center;
    width:200px;
    height:200px;
    border-radius:100px;
}

.line-center {
    display: table-cell;
    vertical-align: middle;
}
/* below are element-styles */

input {
    min-width: 300px;
    margin-top:1em;
}

textarea {
    margin-top:1em;
    width: 300px;
}

input.tag[type="checkbox"] {
    display: none;
}

input.tag[type="checkbox"] + label {
    display: inline-block;
    padding: .5em;
    border-radius: 10px;
    margin: .25em;
    background-color: #e7e7e7;
    cursor: pointer;
}

input.tag[type="checkbox"]:checked + label {
    background-color: #79CEED;
}

input.image[type="checkbox"] {
    display: none;
}

input.image[type="checkbox"] + label {
    display: inline-block;
    text-align: center;
    padding: .5em;
    width: 1em;
    height: 1em;
    border-radius: 10px;
    margin: .25em;
    background-color: #79CEED;
    cursor: pointer;
}

input.image[type="checkbox"]:checked + label {
    background-color: #f42a00;
}

input.image[type="checkbox"] + label:before {
    content: "✓";
}

input.image[type="checkbox"]:checked + label:before {
    content: "X";
}

/*styles on divs and other stuff similar to that - basic page styling*/

.sub-menu {
    padding-right:.5em;
    padding-left:.5em;
}

.underline {
    font-weight: bold;
}

.image-logo {
    padding-bottom: 1em;
}

.arrow-logo {
    background-image: url('images/arrows.png');
    background-color: #f5f5f5;
    background-size: 220px;
    width: 220px;
    height: 220px;
    border: 0px solid #6c6c6c;
    border-radius: 110px;
}
.graph-logo {
    background-image: url('images/graph.png');
    background-color: #f5f5f5;
    background-size: 220px;
    width: 220px;
    height: 220px;
    border: 0px solid #6c6c6c;
    border-radius: 110px;
}
.clock-logo {
    background-image: url('images/clock.png');
    background-color: #f5f5f5;
    background-size: 220px;
    width: 220px;
    height: 220px;
    border: 0px solid #6c6c6c;
    border-radius: 110px;
}
.logout {
    display: inline-block;
    color: gray;
    padding: .25em;
    border: 1px solid;
    border-radius: 10px;
    margin: .5em;
}

.login-bar {
    padding-top:1em;
    padding-bottom:1em;
}

.top-nav {
    display:inline-block;
    color:#a4a4a4;
    padding:.45em;
}
a.top-nav:hover {
    background-color: #f8f8f8;;
    color:#a4a4a4;
}
.post_tag_holder {
    text-align: center;
}
.photo {
    margin-left:2em;
    width:75px;
    height:35px;
}
span.display_tag {
    display: inline-block;
    color: #000;
    font-size: .75em;
    background-color: #e7e7e7;
    border-radius: 10px;
    margin: .5em;
    padding: .5em;
}
span.tags a {
    display: inline-block;
    color: #000;
    font-size: .75em;
    background-color: #e7e7e7;
    border-radius: 10px;
    margin: .5em;
    padding: .5em;
}
span.tags a:hover {
    background-color: #79CEED;
}
#post_title {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    height: 1.5em;
}
#render_title {
    padding: 16px;
    font-weight: bolder;
    font-size: 2em;
    color: #000;
    padding-top: .5em;
}

#post_body {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    max-width: 100%;
    height: 20em;
}

#render_body {
    padding: 1em;
}

/* button stylings */

.button {
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    padding: .5em;
    cursor: hand;
    border: none;
    margin: 1em auto;
}

.button-small {
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    text-decoration: none;
    padding: .5em;
    cursor: hand;
    border: none;
    margin: .5em auto;

}

.b-gray {
    background-color: #d0d2d3;
}

.b-gray:hover {
    border: none;
    background-color: #79CEED;
    box-shadow: 0px 0px 1px #777;
}

.b-orange {
    background-color: #FF8400;
}

.b-orange:hover {
    border: none;
    background-color: #f42a00;
    box-shadow: 0px 0px 1px #777;
}

.submit {
    display: block;
    background-color: #FF8400;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    padding: .5em;
    cursor: hand;
    border: none;
    margin: 1em auto;
}

.submit:hover {
    border: none;
    background: #f42a00;
    box-shadow: 0px 0px 1px #777;
}

/* additional div styling */

.post-body {
    padding-top:1em;
}
.post-box {
    display:inline-block;
}
.box {
    border-radius: 10px;
    padding:1em;
    margin:1em;
    display:inline-block;
    text-align:left;
    width:auto;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.right {
    margin-left:auto;
    text-align: right;
}
.left {
    text-align: left;
}
.red {
    background-color: #f42a00;
}

.blue {
    background-color: #007099;
}

.blue-gradient {
    background-color: #007099;
    background: #007099;
    background: -moz-linear-gradient(-45deg,  #1e5799 0%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #1e5799 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #1e5799 0%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #1e5799 0%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(135deg,  #1e5799 0%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.light-blue {
    background-color: #79CEED;
}

.dark-blue {
    background-color: #004A66;
}

.orange {
    background-color: #FF8400;
}

.gray {
    background-color: #d0d2d3;
}
.light-gray {
    background-color: #f1f1f1;
}
.white {
    background-color: #fff;
}

/* begin colored fonts */

.white-text {
    color:#fff;
}
.gray-text {
    color: #d0d2d3;
}
.orange-text {
    color:#FF8400
}
.light-gray-text {
    color: #f5f5f5;
}
.header {
    color:#fff;
}
.top-menu {
    position:relative; right:3em;
}
.content  {
    display:block;
    margin: 0 auto;
    max-width: 900px;
}
.main {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em;
}

.post-content {
    margin: 0 auto;
    padding-top: 2em;
}

.post-link {
    float: right;
    display: block;
}

.position-right {
    float: right;
}

.footer {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1.5em;
}



