{% extends "main.html" %}
{% block body %}
<div class="pure-g-r center blue header">
    <div class="pure-u-1 main center left padding-3">
        <h2>Luma Hosting Email Policy</h2>
        <p>
            <strong>For your ease of use and comfort of mind we've made our email policy incredibly simple.</strong>
        </p>
        <p></p>
        <p>
            <strong>For anyone who signed up requesting a notification when we go live</strong> we will send you one
                 email: to let you know when your account is ready to be set up. After this, we will remove your email
                 address from our systems.
        </p>
        <p></p>
        <p>
            <strong>For account holders</strong> we will need to keep your email address stored for authentication
             purposes. However, we respect you, and make the following promises:
        </p>
        <p>
            Luma Hosting will never email you unless you specifically request us to. This includes:
        </p>
            <ul>
                <li>Support Emails</li>
                <li>Newsletters</li>
                <li>Promotions</li>
            </ul>
        <p>
            Luma Hosting will never share your email address.
        </p>
        <p>
            Upon deletion of your account, Luma Hosting will destroy all records of your email address.
        </p>
        <p>
            We do reserve the right to change this policy, however, we track the time you sign up with us. We'll
             honor the policy you registered under. We'll make all versions public.
        </p>
        <p></p><p></p>
        <p>
            If you have any questions about this policy we're always happy to help answer them. Please contact us,
             and if you have suggestions know we're listening.
        </p>
    </div>
</div>
{% endblock %}