{% extends "main.html" %}
{% block body %}
 <div class="pure-g-r">
    <div class="pure-u-1 center padding-2">
        <div class="pure-g-r main">
           <div class="pure-u-1">
                <h2>How we work</h2>
            <p>
                <strong>Our three principle process</strong> guides your application development and deployment.
            </p>
            <p></p>
            </div>
            <div class="pure-u-1-3">
                <div class="circle-200 light-blue center">
                    <h3 class="light-gray-text">Planning</h3>
                </div>
                <p class="padding-2">
                    <strong>Plan out your crate</strong> to meet your application needs.
                </p>
            </div>
            <div class="pure-u-1-3 ">
                <div class="circle-200 blue center">
                    <h3 class="light-gray-text">Building</h3>
                </div>
                <p class="padding-2">
                   <strong>Use our tools to build</strong> your crate and save it to be deployed anywhere.
                </p>
            </div>
            <div class="pure-u-1-3">
                <div class="circle-200 dark-blue center">
                    <h3 class="light-gray-text">Deploying</h3>
                </div>
                <p class="padding-2">
                    <strong>Deploy your crate</strong> with the click of a button.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="pure-g-r dark-blue header margin-3">
    <div class="pure-u-1 center">
            <div class="pure-g-r main pure-hidden-phone pure-hidden-tablet">
                <div class="pure-u-1 padding-3">
                    <h1 class="light-gray-text">Using Containers</h1>
                    <p>
                        Linux containers offer many advantages over more traditional development and hosting stacks.
                         Our infrastructure was designed from the beginning to take advantage of these added benefits.
                    </p>
                </div>
                <div class="pure-u-1-3">
                    <div class="arrow-logo left">
                    </div>
                </div>
                <div class="pure-u-2-3 left padding-4">
                    <p>
                    Allow developers at different product stages to work independently of each other. Quickly deploy
                     new containers at any stage of development.
                    </p>
                </div>
                <div class="pure-u-2-3 right padding-5">
                    <p>
                        Use our infrastructure to load-balance and scale. Automatically deploy more crates as needed
                         to keep up with your web traffic.
                    </p>
                </div>
                <div class="pure-u-1-3 right">
                    <div class="graph-logo right">
                    </div>
                </div>
                <div class="pure-u-1-3">
                    <div class="clock-logo left">
                    </div>
                </div>
                <div class="pure-u-2-3 left padding-5">
                    Keep track of your product with our container history and repository. Quickly revert to a
                     last-known good configuration with zero downtime.
                </div>
            </div>
            <div class="pure-g-r main pure-hidden-desktop">
                <div class="pure-u-1 padding-3">
                    <h1 class="light-gray-text">Using Containers</h1>
                    <p>
                        Linux containers offer many advantages over more traditional development and hosting stacks.
                         Our infrastructure was designed from the beginning to take advantage of these added benefits.
                    </p>
                </div>
                <div class="pure-u-1">
                    <div class="arrow-logo center">
                    </div>
                </div>
                <div class="pure-u-1 center padding-4">
                    <p>
                    Allow developers at different product stages to work independently of each other. Quickly deploy
                     new crates at any stage of development.
                    </p>
                </div>
                <div class="pure-u-1">
                    <div class="graph-logo center">
                    </div>
                </div>
                <div class="pure-u-1 center padding-5">
                    <p>
                        Use our infrastructure to load-balance and scale. Automatically deploy more crates as needed
                         to keep up with your web traffic.
                    </p>
                </div>
                <div class="pure-u-1">
                    <div class="clock-logo center">
                    </div>
                </div>
                <div class="pure-u-1 center padding-5">
                    Keep track of your product with our crate history and repository. Quickly revert to a
                     last-known good configuration with zero downtime.
                </div>
            </div>
            <div class="pure-g-r main padding-3" >
                <div class="pure-u-1 center">
                    <h2>And more...</h2>
                    <p>
                        Crates add benefits throughout your development and production stack, many of which can be
                         tailored to meet your business or personal needs.
                    </p>
                </div>
            </div>
    </div>
</div>
<div class="pure-g-r margin-3">
    <div class="pure-u-1 center main">
        <h2>Control Panel</h2>
        <p>Luma Hosting uses linux containers coupled with our own infrastructure to supply you with advanced
        control panel features and monitoring.
        </p>
        <img url="">
    </div>
</div>
{% endblock %}