<html>
<head>
    <meta name="HandheldFriendly" content="true" />
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <title>{{ company_name }} - {{ title }}</title>
</head>
<body>
    {% block body %}{% endblock %}
    <div class="pure-g-r main">
        <div class="pure-u-1 footer" >
            <small>Copyright Luma Hosting Incorporated and Affiliates</small>
        </div>
    </div>
</body>
</html>