{% extends "main.html" %}
{% block body %}
<div class="pure-g-r center blue blue-gradient header">
    <div class="pure-u-1 main center padding-2">
        <h1 class="light-gray-text">Thank You!</h1>
        <p>
                Thank you for registering at Luma
        <p>
        <p>
                We appreciate your confidence and your support more than you know.
        </p>
        <p></p><p></p>
        <p>
            <strong>Want to find out more...?</strong>
        </p>
        <p>
            Just email: info@luma.im with your questions!
        </p>
    </div>
</div>
{% endblock %}